<header>
    <div>
        <div>
            <img src="./images/iconen/arrow_left.svg" alt="logo2">
        </div>
        
        <div class="container_menu">
            <div class="hamburger-menu" onclick="toggleMenu()">
                <img src="./images/iconen/burger.svg" alt="logo2">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/match">Match</a></li>
                    <li><a href="/profiel">Profiel</a></li>
                </ul>
            </nav>
        </div>

        <div class="normaal_menu">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/match">Match</a></li>
                    <li><a href="/profiel">Profiel</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>