<header>

    <div class="container">
        <div class="hamburger-menu" onclick="toggleMenu()">
            <img src="./images/iconen/burger.svg" alt="logo2">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Match</a></li>
                <li><a href="#">Profiel</a></li>
                <li><a href="#">...</a></li>
            </ul>
        </nav>
    </div>
</header>