<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="./styles/style.css" rel="stylesheet">
</head>

<body>

    <%- include('partials/header') %>

    <main class="detail">

        <div class="ga-terug">
            <a href="/"><button class="button-secundair"><img src="./images/iconen/arrow_left.svg" alt="Like">Terug</button></a>
        </div>

        <section>
            <div>
                <div class="albumcover">
                    <img src="./images/placeholder_cover.jpg" alt="Achtergrondafbeelding">
                </div>
                <div class="titel-flex">
                    <h1>Starboy</h1>
                    <div>
                        <p>80</p>
                        <img src="./images/iconen/hart.svg" alt="Like">
                    </div>
                </div>
            </div>
        </section>


        <section class="grid2">
            <div>
                <h3>The Weeknd</h3>
                <p>Artiest</p>
            </div>

            <div>
                <h3>Starboy</h3>
                <p>Album</p>
            </div>

            <div>
                <h3>100</h3>
                <p>BPM</p>
            </div>

            <div>
                <h3>G#</h3>
                <p>Toonsoort</p>
            </div>

            <div>
                <h3>The Weeknd</h3>
                <p>Artiest</p>
            </div>

            <div>
                <h3>The Weeknd</h3>
                <p>Artiest</p>
            </div>
        </section>


    </main>

    <script defer src="./scripts/script.js"></script>

</body>

</html>