<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="./styles/style.css" rel="stylesheet">
</head>

<body>
    <section id="secGenre">
        <h2 id="titleInloggen">Genre selector</h2>
        <p id="textInloggen">Selecteer je favoriete genre's!</p>
            <div id="genres">
                <input type="checkbox" id="genre1" name="genre1">
                <label for="genre1">Heavy metal</label>
                    <img src="/public/images/heavyMetalIcon.png">
                <input type="checkbox" id="genre2" name="genre2">
                <label for="genre2">Rock</label>
                <input type="checkbox" id="genre3" name="genre3">
                <label for="genre3">Pop</label> 
            </div>
    </section>
</body>

</html>