<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="./styles/style.css" rel="stylesheet">
    <link href="./styles/inlog.css" rel="stylesheet">
</head>

<body>
    <section id="secGenre">
        <h2 id="titleInloggen">Genre selector</h2>
        <p id="textInloggen">Selecteer je favoriete genre's!</p>
        <div class="genres-container">
            <div class="genres-row">
                <div class="genre-item" onclick="toggleCheckbox('genre1')">
                    <input type="checkbox" id="genre1" name="genre1">
                    <label for="genre1">
                        <img src="./images/heavyMetalIcon.png" alt="Heavy metal">
                        <span>Heavy metal</span>
                    </label>
                    <div class="checkmark"></div>
                </div>
                
                <div class="genre-item" onclick="toggleCheckbox('genre2')">
                    <input type="checkbox" id="genre2" name="genre2">
                    <label for="genre2">
                        <img src="./images/heavyMetalIcon.png" alt="Heavy metal">
                        <span>Heavy metal</span>
                    </label>
                </div>
                
                <div class="genre-item" onclick="toggleCheckbox('genre3')">
                    <input type="checkbox" id="genre3" name="genre3">
                    <label for="genre3">
                        <img src="./images/heavyMetalIcon.png" alt="Heavy metal">
                        <span>Heavy metal</span>
                    </label>
                </div>   
            </div>

            <div class="genres-row">
                <div class="genre-item" onclick="toggleCheckbox('genre4')">
                    <input type="checkbox" id="genre4" name="genre4">
                    <label for="genre4">
                        <img src="./images/heavyMetalIcon.png" alt="Heavy metal">
                        <span>Heavy metal</span>
                    </label>
                </div>
                
                <div class="genre-item" onclick="toggleCheckbox('genre5')">
                    <input type="checkbox" id="genre5" name="genre5">
                    <label for="genre5">
                        <img src="./images/heavyMetalIcon.png" alt="Heavy metal">
                        <span>Heavy metal</span>
                    </label>
                </div>
                
                <div class="genre-item" onclick="toggleCheckbox('genre6')">
                    <input type="checkbox" id="genre6" name="genre6">
                    <label for="genre6">
                        <img src="./images/heavyMetalIcon.png" alt="Heavy metal">
                        <span>Heavy metal</span>
                    </label>    
                </div>
            </div>

            <div class="genres-row">
                <div class="genre-item" onclick="toggleCheckbox('genre7')">
                    <input type="checkbox" id="genre7" name="genre7">
                    <label for="genre7">
                        <img src="./images/heavyMetalIcon.png" alt="Heavy metal">
                        <span>Heavy metal</span>
                    </label>
                </div>
                
                <div class="genre-item" onclick="toggleCheckbox('genre8')">
                    <input type="checkbox" id="genre8" name="genre8">
                    <label for="genre8">
                        <img src="./images/heavyMetalIcon.png" alt="Heavy metal">
                        <span>Heavy metal</span>
                    </label>
                </div>
                
                <div class="genre-item" onclick="toggleCheckbox('genre9')">
                    <input type="checkbox" id="genre9" name="genre9">
                    <label for="genre9">
                        <img src="./images/heavyMetalIcon.png" alt="Heavy metal">
                        <span>Heavy metal</span>
                    </label>    
                </div>
            </div>
        </div>

        <button id="loginButton" type="submit">Maak je account! </button>
    </section>
    <script src="./scripts/inlog.js"></script>
</body>


</html>