<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="./styles/style.css" rel="stylesheet">
    <link href="./styles/home.css" rel="stylesheet">
</head>

<body>

    <%- include('partials/header') %>

    <main>
        <section>
            <h1>Inbox</h1>
        </section>

        <section id="grid1" class="list1">


            <a href="/matchprofiel">
                <div>
                    <img class="hoofdfoto" src="./images/binc.jpg" alt="Achtergrondafbeelding">
                </div>
                <div class="genres-flex-main">
                    <div class="titel-flex-main">
                        <div>
                            <h3>Binc van Buren</h3>
                            <p>Hey, ik wilde nog even wat wijzigingen doorgeven voor de website. Heb jij daar vandaag tijd voor?</p>
                        </div>
                        <div>
                            <p>9:41</p>
                            <img src="./images/iconen/hart.svg" alt="Like">
                        </div>
                    </div>
                </div>
                </div>
            </a>

        </section>

        <div class="popup" id="popup1">

            <form id="filterForm" action="/match" method="POST">

                <div>
                    <h3>Filter</h3>
                    <input type="submit" class="submit-knop" onclick="toggleFilters()" value="Opslaan">
                </div>

                <section>
                    <div class="popup-flex">
                        <h4>Sorteren</h4>
                    </div>
                    <div class="filterSection" id="carrousel">

                        <label class="slide">
                            <input type="radio" name="sorteren" value="match" checked><span>Match</span>
                        </label>

                        <label class="slide">
                            <input type="radio" name="sorteren" value="naam"><span>Naam</span>
                        </label>
                    </div>
                </section>

                <section>
                    <div class="popup-flex">
                        <h4>Mensen die houden van</h4>
                        <p class="checkboxCount">0/5</p>
                    </div>
                    <div class="filterSection" id="carrousel">

                        <label class="slide">
                            <input type="checkbox" name="genre" value="house"
                                onchange="updateCheckboxCount(this)"><span>House</span>
                        </label>

                        <label class="slide">
                            <input type="checkbox" name="genre" value="pop"
                                onchange="updateCheckboxCount(this)"><span>Pop</span>
                        </label>

                        <label class="slide">
                            <input type="checkbox" name="genre" value="techno"
                                onchange="updateCheckboxCount(this)"><span>Techno</span>
                        </label>

                        <label class="slide">
                            <input type="checkbox" name="genre" value="rap"
                                onchange="updateCheckboxCount(this)"><span>Hiphop</span>
                        </label>

                        <label class="slide">
                            <input type="checkbox" name="genre" value="nederlands"
                                onchange="updateCheckboxCount(this)"><span>Nederlands</span>
                        </label>
                    </div>
                </section>
            </form>

        </div>

    </main>

    <script defer src="./scripts/script.js"></script>
    <script defer src="./scripts/filters.js"></script>

</body>

</html>