<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="./styles/style.css" rel="stylesheet">
    <link href="./styles/home.css" rel="stylesheet">
        <link href="./styles/chat.css" rel="stylesheet">
</head>

<body>

    <%- include('partials/header') %>

    <main>
        <section>
            <h1>Inbox</h1>
        </section>

        <section class="chat-flex">
            <section class="chat-flex-chatbox">
                <%- include('partials/chatbox') %>
            </section>


            <section id="grid1" class="list-chat">


                <a href="/chat">
                    <div>
                        <img class="hoofdfoto" src="./images/binc.jpg" alt="Achtergrondafbeelding">
                    </div>
                    <div class="genres-flex-main">
                        <div class="titel-flex-main chat-chevron">
                            <div>
                                <h3>Binc van Buren</h3>
                                <p class="last-chat">Hey, ik wilde nog even wat wijzigingen doorgeven voor de website.
                                    Heb jij daar vandaag tijd voor?</p>
                            </div>
                            <div>
                                <p class="tijd">9:41</p>
                                <img src="./images/iconen/chevron.right.svg" alt="Like">
                            </div>
                        </div>
                    </div>
                    </div>
                </a>

                <a href="/chat">
                    <div>
                        <img class="hoofdfoto" src="./images/binc.jpg" alt="Achtergrondafbeelding">
                    </div>
                    <div class="genres-flex-main">
                        <div class="titel-flex-main chat-chevron">
                            <div>
                                <h3>Binc van Buren</h3>
                                <p class="last-chat">Hey, ik wilde nog even wat wijzigingen doorgeven voor de website.
                                    Heb jij daar vandaag tijd voor?</p>
                            </div>
                            <div>
                                <p class="tijd">9:41</p>
                                <img src="./images/iconen/chevron.right.svg" alt="Like">
                            </div>
                        </div>
                    </div>
                    </div>
                </a>

            </section>

        </section>

    </main>

    <script defer src="./scripts/script.js"></script>
    <script defer src="./scripts/filters.js"></script>

</body>

</html>