<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="./styles/style.css" rel="stylesheet">
</head>

<body>

    <main>
        <section>
            <h1>Ontdek nieuwe muziek</h1>

            <div id="carrousel" class="playlist">
				<a id="slide" class="slide-playlist" href="https://open.spotify.com/playlist/4W1fKAobfabBU0RlvBOyw7?si=f839b816b20d44ae" target="_blank"><button>Test</button></a>
				<a id="slide" class="slide-playlist" href="https://open.spotify.com/playlist/4W1fKAobfabBU0RlvBOyw7?si=f839b816b20d44ae" target="_blank"><button>Test</button></a>
                <a id="slide" class="slide-playlist" href="https://open.spotify.com/playlist/4W1fKAobfabBU0RlvBOyw7?si=f839b816b20d44ae" target="_blank"><button>Test</button></a>
                <a id="slide" class="slide-playlist" href="https://open.spotify.com/playlist/4W1fKAobfabBU0RlvBOyw7?si=f839b816b20d44ae" target="_blank"><button>Test</button></a>
                <a id="slide" class="slide-playlist" href="https://open.spotify.com/playlist/4W1fKAobfabBU0RlvBOyw7?si=f839b816b20d44ae" target="_blank"><button>Test</button></a>
                <a id="slide" class="slide-playlist" href="https://open.spotify.com/playlist/4W1fKAobfabBU0RlvBOyw7?si=f839b816b20d44ae" target="_blank"><button>Test</button></a>
                <a id="slide" class="slide-playlist" href="https://open.spotify.com/playlist/4W1fKAobfabBU0RlvBOyw7?si=f839b816b20d44ae" target="_blank"><button>Test</button></a>
			  </div>

            <input type="radio" name="browser" onclick="naarGrid()" value="Firefox">Grid
        </section>
        <section id="grid1" class="grid1">


            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Outfit font</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

        </section>
    </main>

    <script defer src="./scripts/script.js"></script>

</body>

</html>