<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="./styles/style.css" rel="stylesheet">
</head>

<body>

    <main>
        <section>
            <h1>Dikke jeeej nummers</h1>

            <input type="radio" name="browser" onclick="naarGrid()" value="Firefox">Grid
        </section>
        <section id="grid1" class="list1">


            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

        </section>
    </main>

    <script defer src="./scripts/script.js"></script>

</body>

</html>