<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="./styles/style.css" rel="stylesheet">
</head>

<body>

    <main>
        <section>
            <h1>Ontdek nieuwe muziek</h1>

            <div id="carrousel" class="playlist">
                <a id="slide"><button id="toggle_grid"><img id="toggleIcon" src="./images/iconen/list.svg"
                            alt="Grid View"></button></a>
                <a id="slide"><button id="toggle_sorteer"><img class="toggle_icon_arrow_draai" id="toggleIcon_arrow"
                            src="./images/iconen/arrow_laag.svg" alt="Grid View"></button></a>
                <a id="slide" onclick="show('popup1')"><button>Alle filters</button></a>
                <a id="slide"><button>Test</button></a>
                <a id="slide"><button>Test</button></a>
                <a id="slide"><button>Test</button></a>
                <a id="slide"><button>Test</button></a>
                <a id="slide"><button>Test</button></a>
            </div>
        </section>
        <section id="grid1" class="grid1">


            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Outfit font</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

            <article>
                <div>
                    <p>30%</p>
                </div>
                <div>
                    <h3>Titel</h3>
                    <p>Ondertitel</p>
                </div>
            </article>

        </section>

        <div class="popup" id="popup1">
            <div>
                <h3>Genre</h3>
                <a onclick="hide('popup1')">Opslaan</a>
            </div>

            <div>
                <div class="popup-flex">
                    <h4>Tempo</h4>
                    <p id="checkboxCount">Geen geselecteerd</p>
                </div>
                <div id="carrousel" class="playlist">
                    <label class="slide">
                        <input type="checkbox" name="genre" value="1" onchange="updateCheckboxCount()"><span>House</span>
                    </label>

                    <label class="slide">
                        <input type="checkbox" name="genre" value="2" onchange="updateCheckboxCount()"><span>Pop</span>
                    </label>

                    <label class="slide">
                        <input type="checkbox" name="genre" value="3" onchange="updateCheckboxCount()"><span>Techno</span>
                    </label>

                    <label class="slide">
                        <input type="checkbox" name="genre" value="4" onchange="updateCheckboxCount()"><span>Hiphop</span>
                    </label>

                    <label class="slide">
                        <input type="checkbox" name="genre" value="5" onchange="updateCheckboxCount()"><span>Nederlands</span>
                    </label>
                </div>
            </div>

            <div>
                <div class="popup-flex">
                    <h4>Tempo</h4>
                    <p class="rangeValues">Tempo</p>
                </div>
                <div class="range-slider">
                    <span class="rangeValues"></span>
                    <input value="100" min="70" max="180" step="1" type="range">
                    <input value="130" min="70" max="180" step="1" type="range">
                </div>
            </div>

            <div>
                <div class="popup-flex">
                    <h4>Tempo</h4>
                    <p id="checkboxCount2">Geen geselecteerd</p>
                </div>
                <div id="carrousel" class="playlist">
                    <label class="slide">
                        <input type="checkbox" name="sfeer" value="1" onchange="updateCheckboxCount()"><span>House</span>
                    </label>

                    <label class="slide">
                        <input type="checkbox" name="sfeer" value="2" onchange="updateCheckboxCount()"><span>Pop</span>
                    </label>

                    <label class="slide">
                        <input type="checkbox" name="sfeer" value="3" onchange="updateCheckboxCount()"><span>Techno</span>
                    </label>

                    <label class="slide">
                        <input type="checkbox" name="sfeer" value="4" onchange="updateCheckboxCount()"><span>Hiphop</span>
                    </label>

                    <label class="slide">
                        <input type="checkbox" name="sfeer" value="5" onchange="updateCheckboxCount()"><span>Nederlands</span>
                    </label>
                </div>
            </div>



        </div>

    </main>

    <script defer src="./scripts/script.js"></script>

</body>

</html>