<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Formulier</h1>
        <form method="post" action="/registreer">
            <label for="email">E-mail adres</label>
            <input type="email" name="email" id="email">

            <label for="password">Wachtwoord</label>
            <input type="password" name="password" id="password">

            <label for="name">Naam</label>
            <input type="text" name="name" id="name">

            <input type="checkbox" name="pop" value="pop" />
            <label for="pop">Pop</label>
            <input type="checkbox" name="rock" value="rock" />
            <label for="rock">Rock</label>
            <input type="checkbox" name="klassiek" value="klassiek" />
            <label for="klassiek">Klassiek</label>
            <input type="checkbox" name="rnb" value="rnb" />
            <label for="rnb">R&B</label>
            <input type="checkbox" name="electronic" value="electronic" />
            <label for="electronic">Electronic</label>
            <input type="checkbox" name="hiphop" value="hiphop" />
            <label for="hiphop">HipHop</label>
            <input type="checkbox" name="house" value="house" />
            <label for="house">House</label>

            <input type="submit" value="create">
        </form>
    </main>
</body>
</html>