/* //////////////////////////
	Inloggen
////////////////////////// */

body {
    background-color: var(--achtergrond-licht);
}

#titleInloggen {
	text-align: center;
	margin-bottom: 15px;
}

#textInloggen {
	text-align: center;
	margin-bottom: 50px;
}

#textWwVergeten {
	text-align: right;
	text-decoration: underline;
	margin-bottom: 15px;
	font-size: 15px;
}

.secInloggen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm {
    width: 300px;
	text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column; /* Verander naar kolomrichting */
    margin-bottom: 15px;
    width: 100%;
}

#labelForms {
	font-family: 'Outfit';
	font-size: 20px;
    margin-right: 10px;
    flex: 1;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="name"],
input[type="datum"] {
    flex: 2;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#loginButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
	width: 300px;
	margin-top: 30px;
	margin-bottom: 15px;
	font-family: 'Outfit';
	font-size: 15px;	
}

#registreerButton{
	display: inline-block;
    width: 300px; 
	background-color: #fff;
    color: #000;
    padding: 10px;	
    border-radius: 5px;
    cursor: pointer;
	border: 2px solid #000;
	text-align: center;
	text-decoration: none;
	font-family: 'Outfit';
	font-size: 15px;
}

#loginButton:hover {
    background-color: #0056b3;
}

#registreerButton:hover {
	background-color: #ccc;	
}

#message {
    margin-top: 10px;
    color: #ff0000;
}


/* //////////////////////////
	genre Selector
////////////////////////// */
#secGenre {
    text-align: center; /* Center de inhoud van de sectie */
}

.genres-container {
    display: flex;
    flex-direction: column; /* Stapel de rijen in een kolom */
    align-items: center; /* Centreer de rijen horizontaal */
}

.genres-row {
    display: flex;
    justify-content: center; /* Centreer de genre-items in de rij */
}

.genre-item {
    position: relative;
    display: flex; /* Gebruik flexbox voor het centreren van inhoud */
    flex-direction: column; /* Stapel de items in een kolom */
    align-items: center; /* Centreer items horizontaal */
    justify-content: center; /* Centreer items verticaal */
    margin-bottom: 20px; 
    margin-right: 20px;
    background-color: #FF5B5B;
    border: 5px solid #fff;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer; /* Zorg ervoor dat de cursor verandert naar een handje bij het hoveren */
}

.genre-item label {
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100%; /* Neem de volledige breedte van de genre-item */
    font-family: 'Outfit';
    font-size: 20px;
}

.genre-item img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.genre-item span {
    display: block;
    text-align: center;
}

input[type="checkbox"] {
    position: absolute; /* Absolute positionering voor de checkbox */
    top: 5px; /* Afstand vanaf de bovenkant */
    right: 5px; /* Afstand vanaf de rechterkant */
    opacity: 0; /* Maak de checkbox onzichtbaar */
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px; /* Grootte van de ronde checkbox */
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.1s; /* Voeg een overgangseffect toe */
}

input[type="checkbox"]:checked + label:before {
    background-color: #000; /* Kleur van de ronde checkbox wanneer gecheckt */
    content: "\2713"; /* Vinkje symbool */
    font-size: 20px; /* Grootte van het vinkje */
    color: #fff; /* Kleur van het vinkje */
    position: absolute;
    padding-top: 8px;
    transition: background-color 0.8s; /* Voeg een overgangseffect toe */
    z-index: 1;
}

/* Extra blokje achter het vinkje */
input[type="checkbox"] + label:after {
    content: "";
    position: absolute; 
    top: 0px;
    right: 0px;
    width: 45px; /* Grootte van het extra blokje */
    height: 45px;
    background-color: #fff; /* Kleur van het extra blokje */
    transition: background-color 0.3s, transform 0.3s; /* Voeg overgangseffecten toe voor achtergrondkleur en transformatie */
    transform-origin: top right; /* Stel de transformatie-oorsprong in op de rechterbovenhoek */
    transform: scale(0) translate(100%, -100%); /* Maak het blokje onzichtbaar bij de start */
    border-bottom-left-radius: 15px; /* Geef het extra blokje ronde hoeken */
    z-index: 0; /* Zet het blokje achter de checkbox */
}

/* Zichtbaar maken van het extra blokje wanneer checkbox is aangevinkt */
input[type="checkbox"]:checked + label:after {
    transform: scale(1) translate(0%, 0%); /* Maak het blokje zichtbaar en zet het terug naar de oorspronkelijke positie */
}





@media screen and (max-width: 768px) {
    .genres-row {
        flex-direction: column; /* Stapel de genre-items in een kolom op kleinere schermen */
        align-items: center; /* Centreer de genre-items op kleinere schermen */
    }
}